@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.app {
    background-color: rgb(228, 222, 222);
    display:flex;
	border: 4rem;
	border: 4px dotted black;
	height:100vh;
	margin: 10px;
	
  }
.form{
	font-size: 2rem;
}
.container{
	padding: 6rem;
	font-size: 30px;
}
.btnS{
	font-size: 20px;
}
.btn1{
	color: black;
}
